.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    font-weight: bold;
  }

  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }

  .Button:hover:active {
    background-color: var(--very-dark-low) !important;
  }

  .Button:active {
    background-color: var(--very-dark-low) !important;
  }

  .Button:focus {
    background-color: var(--very-dark-low) !important;
  }

  .Wide {
    padding: 10px 50px;
    width: 10rem;
  }

  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: var(--dark-low) !important;
    color: var(--white) !important;
  }

  .BlueOutline:hover{
    background-color: var(--light-low) !important;
    color: var(--very-dark-low) !important;
  }
  
  .BlueOutline,
  .Blue:hover {
    border: 1px solid var(--very-dark-low);
    background-color: var(--white);
    color: var(--very-dark-low);
  }

  .Bright {
    background-color: var(--light-low);
    color: var(--very-dark-low);
  }