.NavBar {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 0 0 20px 20px;
  }

  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: var(--navicon-active);
  }