:root {
  /* color variables */

  /* task priority colors */
  /* high priority */
  /* orange  */
  --very-dark-high: #531D04;
  --dark-high: #D7410F;
  --med-high: #FD7E14;
  --light-high: #f7ddcf;
   /* med priority */
  /* maroon */
  --very-dark-med: #530E0E;
  --dark-med: #992319;
  --light-med: #F4D8C8;
  /* low priority */
  /* teal */
   --very-dark-low: #07565A;
  --dark-low: #0A8385;
  --light-low: #D1FAF3;

  /* neutrals */
  --light-neutral: #F9FAFC;
  --white: #FFFFFF;
  --gray: #242a3d;
  --med-gray: #555555;
  --light-gray: #dadfdf;
  --brown-gray: #dfdada;
  --cream-gray: #888888;
  --light-cream: #f1f1f1;
  --very-light-warm:#FBEDE5;

  /* app colors */
  --med-light-orange: #FD9E5E;
  --icon-color: var(--med-light-orange);
  --link-color: --med-gray;
  --navicon-active: var(--dark-high);
  --link-hover: var(--dark-low);/* also used for icon hover */
  --background: var(--very-light-warm);
}

.App {
  font-family: "Kodchasan", sans-serif;
  background-color: var(--background);
  min-height: 100vh;
  color: var(--very-dark-high);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: var(--white);
  padding: 10px;
  border-radius: 2px;
  border: 1px solid var(--light-gray);
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.AppName {
  color: var(--dark-high);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  transition: color ease-in-out 0.3s;
}

a:hover,
.AppName:hover {
  text-decoration: none;
  color: var(--link-hover)
}

a:hover i {
  color: var(--link-hover);
  transition: color ease-in-out 0.3s;
}

.DarkIcon {
  color: var(--dark-high) !important;
}

.DarkIcon:hover {
  color: var(--dark-low) !important;
}

input[type="file"] {
  display: none;
}

i {
  color: var(--icon-color);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--link-hover);
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--light-cream);
}
*::-webkit-scrollbar-thumb {
  background: var(--cream-gray);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--med-gray);
}

/* rounded corners on bigger objects */
.Rounded {
  border-radius: 20px;
}

.RoundedTop {
  border-radius: 20px 20px 0px 0px !important;
}

/* rounded corners on smaller objects */
.LittleRounded {
  border-radius: 10px;
}

.LittleRoundedBottom {
  border-radius: 0px 0px 10px 10px;
}
